/* start global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --text-color: #777;
  --section-padding: 100px;
  --progress-color: #dedadc;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
/* end global */
/* start components */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
div.main-heading {
  text-align: center;
}
div.main-heading > h2 {
  position: relative;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-bottom: 25px;
}
div.main-heading > h2::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
div.main-heading > h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid var(--text-color);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
div.main-heading > p {
  line-height: 1.8;
  max-width: 500px;
  color: var(--text-color);
  margin: 30px auto 100px;
}
/* end components */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 97px;
}
header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: -1;
}
.container .logo img {
  height: 40px;
}
.container nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container nav ul {
  display: flex;
}
.container nav ul li:first-child a,
.container nav ul li:hover a {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.container nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 40px 15px;
  font-size: 14px;
  transition-duration: 0.3s;
}
.container nav .form {
  color: white;
  position: relative;
  width: 40px;
  height: 35px;
  margin-left: 30px;
  border-left: 1px solid white;
}
.container nav .form i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
}
.container nav i {
  font-size: 22px;
  color: white;
}
@media (min-width: 768px) {
  .container nav > i:first-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .container nav ul {
    display: none;
  }
  .container nav > i:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .container nav ul li a {
    padding: 20px;
  }
}
.landing {
  position: relative;
  background-color: #1f2021;
  min-height: 100vh;
  background-image: url(../videos-and-images/landing.jpg);
  background-size: cover;
  z-index: -3;
}
.landing .overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100vw;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content {
  color: white;
  max-width: 500px;
}
.landing .text .content h2 {
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 32px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing i.left,
.landing i.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
}
.landing i.left {
  left: 30px;
}
.landing i.right {
  right: 30px;
}
.landing ul.bullets {
  display: flex;
  justify-content: space-between;
  width: 75px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.landing ul.bullets li {
  width: 20px;
  height: 20px;
  color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
ul.bullets li:nth-child(2) {
  background-color: var(--main-color);
  border: var(--main-color);
}
@media (max-width: 767px) {
  i.left,
  i.right {
    display: none;
  }
}

.services .container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 60px;
  column-gap: 40px;
}
.services-content .service {
  display: flex;
  flex-direction: row;
}

.services-content .service h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services-content .service p {
  line-height: 2;
  color: var(--text-color);
}

.services-content .service i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services-content .service {
    flex-direction: column;
    text-align: center;
  }
  .services-content .service i {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
/* Start Features */
.features {
  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(../videos-and-images/design-features.jpg);
  width: 100%;
  background-size: cover;
  position: relative;
  height: 65vh;
  overflow: hidden;
}
.features img {
  position: absolute;
  bottom: -60px;
  left: 100px;
}

.features .text {
  background-color: var(--transparent-color);
  padding: 50px;
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .features img {
    display: none;
  }
  .features .text {
    width: 100%;
  }
}
.features .text p,
.features .text li {
  color: white;
}
.features .text li {
  padding: 15px 0;
  font-size: 18px;
}
.features .text li::before {
  content: "\e163";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  margin-right: 20px;
}
.features .text p {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 25px;
}
/* End Features */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
}
ul.shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
ul.shuffle li {
  padding: 12px;
}
ul.shuffle li:first-child {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-holder {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .portfolio .imgs-holder {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
.portfolio .imgs-holder .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-holder .box img {
  max-width: 100%;
  transition-duration: 0.3s;
}

.portfolio .imgs-holder .box .img-info {
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 30px;
  transition-duration: 0.3s;
}
.portfolio .imgs-holder .box .img-info h4 {
  margin-bottom: 15px;
  color: white;
}
.portfolio .imgs-holder .box .img-info span {
  color: var(--main-color);
}
.portfolio .imgs-holder .box:hover .img-info {
  transform: translateY(0);
}
.portfolio .imgs-holder .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .more {
  text-align: center;
  margin-top: 60px;
}
.portfolio .more a {
  background-color: var(--main-color);
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  border-radius: 9999px;
}
.video-holder {
  position: relative;
  margin-top: 100px;
}
.video-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video-holder video {
  width: 100%;
}
.video-holder .text {
  position: absolute;
  top: 50%;
  background-color: var(--transparent-color);
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .video-holder .text {
    height: 150px;
  }
}
.video-holder .text h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
}
@media (max-width: 767px) {
  .video-holder .text h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.video-holder .text p {
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .video-holder .text p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.video-holder .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  border-radius: 9999px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .video-holder .text button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* End Portfolio */
/* Start about */
.about {
  padding-top: var(--section-padding);
}
.about > .container {
  position: relative;
  text-align: center;
  height: max-content;
  overflow: hidden;
}
.about .container > img {
  position: relative;
  max-width: 100%;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .about .container > img {
    bottom: -80px;
    margin-top: -80px;
  }
}
.stats {
  width: 100%;
  background-image: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(../videos-and-images/stats.png);
  background-size: cover;
  padding: 60px 40px;
}
.stats .container {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--transparent-color);
  color: white;
  width: 100%;
}
.stats .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.stats .container .box i {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}
.stats .container .box span {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stats .container .box h4 {
  font-weight: normal;
  white-space: nowrap;
  font-size: 14px;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.information .container {
  display: flex;
  justify-content: space-between;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (max-width: 991px) {
  .information .container {
    flex-direction: column;
  }
}
.information .container > div /*(.testimonials, .skills)*/ {
  flex-basis: 45%;
}
.information .container .intro {
  text-align: center;
  margin-bottom: 50px;
}
.information .container .intro > h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.information .container .intro > p {
  color: var(--text-color);
  line-height: 1.8;
}
.information .container .testimonials {
  position: relative;
}
.information .testimonials .content-holder {
  display: flex;
  flex-direction: column;
}
.testimonials .content-holder .content {
  display: flex;
  margin-bottom: 30px;
}
.testimonials .content-holder .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
  align-self: flex-start;
}
.testimonials .content-holder .content .text {
  justify-self: flex-end;
  border-bottom: 1px solid #ccc;
}
.testimonials .content-holder .content .text > p {
  line-height: 1.8;
}
.testimonials .content-holder .content .text > span {
  text-align: right;
  display: block;
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
.testimonials .switch {
  align-self: center;
}
.testimonials ul.bullets {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonials ul.bullets li {
  width: 15px;
  height: 15px;
  color: transparent;
  border: 1px solid #aaa;
  border-radius: 50%;
}
.testimonials ul.bullets li:nth-child(2) {
  background-color: var(--main-color);
  border: var(--main-color);
}
.information .container .skills .boxes-holder {
  display: flex;
  flex-direction: column;
}
.information .skills .boxes-holder .box {
  margin-bottom: 30px;
}
.skills .boxes-holder .box p {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skills .boxes-holder .box div.prog {
  background-color: var(--progress-color);
  height: 30px;
}
.skills .boxes-holder .box div.prog span.fill-prog {
  background-color: var(--main-color);
  display: inline-block;
  height: 100%;
  position: relative;
}
.skills div.prog span.fill-prog::after {
  content: attr(data-progress);
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: black;
  color: white;
  transform: translate(50%, calc(-100% + -10px));
  border-radius: 4px;
}
.skills div.prog span.fill-prog::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top-color: black;
  right: 0;
  transform: translate(50%, calc(-50% + -5px));
}
.about .quote {
  background-image: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url(../videos-and-images/quote.jpg);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  width: 100%;
  color: white;
}
.about .quote .container {
  text-align: center;
}
.about .quote q {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
}
.about .quote q::before,
.about .quote q::after {
  font-family: "Font Awesome 6 Free";
  font-size: 15px;
  font-weight: 900;
  position: relative;
  top: -10px;
}
.about .quote q::before {
  content: "\f10d";
  left: -2px;
}
.about .quote q::after {
  content: "\f10e";
  right: -2px;
}
/* End about */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.plans .plan .head {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 40px 20px;
}
.plans .plan .head h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
.plans .plan .head span {
  font-size: 50px;
  font-weight: 600;
}
.plans .plan .head span::before {
  content: "\24";
  font-size: 20px;
  position: relative;
  top: -40px;
  font-weight: normal;
  margin-right: 15px;
}
.plans .plan .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -20px;
}
.plans .plan ul.advantages {
  border-bottom: 1px solid var(--main-color);
}
.plans .plan ul.advantages li {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.plans .plan ul.advantages li:not(:last-child)::after {
  content: "";
  height: 1px;
  width: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.plans .plan .buy-now {
  text-decoration: none;
  padding: 20px 40px;
  margin: 50px;
  display: inline-block;
  border: 2px solid var(--main-color);
}
.pricing .special-deal {
  text-align: center;
}
.pricing p.contact-text {
  font-size: 22px;
  margin-bottom: 50px;
}
.pricing a.contact-link {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  margin-bottom: var(--section-padding);
  display: inline-block;
}
.pricing .subscribe {
  background-image: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
  url(../videos-and-images/subscribe.jpg);
  background-size: cover;
  color: white;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .subscribe .container {
  display: flex;
}
@media(max-width: 768px) {
  .pricing .subscribe .container {
    flex-direction: column;
  }
}
.pricing .subscribe .container form {
  width: 500px;
  max-width: 100%;
}
.pricing .subscribe .container form input[type="email"] {
  padding: 20px 50px;
}
/* End Pricing */
